In [7]:
# Dictionaries

person={
    "name":"Sezhiyan",
    "age":21,
    "year":2004
}
print(person)
print(type(person))
print(len(person))

{'name': 'Sezhiyan', 'age': 21, 'year': 2004}
<class 'dict'>
3

In [9]:
person={
    "name":"Sezhiyan",
    "age":21,
    "year":2004
}
print(person["name"])
print(person["age"])
print(person["year"])

Sezhiyan
21
2004

In [22]:
# keys
person={
    "name":"Sezhiyan",
    "age":21,
    "year":2004,
    "skills":{"python","Excel","power BI","SQL"}
}
details=person.keys()
print(details)

dict_keys(['name', 'age', 'year', 'skills'])

In [23]:
# values
person={
    "name":"Sezhiyan",
    "age":21,
    "year":2004,
    "skills":{"python","Excel","power BI","SQL"}
}
details=person.values()
print(details)

dict_values(['Sezhiyan', 21, 2004, {'power BI', 'Excel', 'python', 'SQL'}])

In [24]:
# items
person={
    "name":"Sezhiyan",
    "age":21,
    "year":2004,
    "skills":{"python","Excel","power BI","SQL"}
}
details=person.items()
print(details)

dict_items([('name', 'Sezhiyan'), ('age', 21), ('year', 2004), ('skills', {'power BI', 'Excel', 'python', 'SQL'})])

In [25]:
# update
person={
    "name":"Sezhiyan",
    "age":21,
    "year":2004,
    "skills":{"python","Excel","power BI","SQL"}
}
person.update({"BG":"B+"})
print(person)

{'name': 'Sezhiyan', 'age': 21, 'year': 2004, 'skills': {'power BI', 'Excel', 'python', 'SQL'}, 'BG': 'B+'}

In [26]:
person={
    "name":"Sezhiyan",
    "age":21,
    "year":2004,
    "skills":{"python","Excel","power BI","SQL"}
}
person["BG"]="B+"
print(person)

{'name': 'Sezhiyan', 'age': 21, 'year': 2004, 'skills': {'power BI', 'Excel', 'python', 'SQL'}, 'BG': 'B+'}

In [27]:
# pop(), popitem()
person={
    "name":"Sezhiyan",
    "age":21,
    "year":2004,
    "skills":{"python","Excel","power BI","SQL"}
}
person.pop("skills")
print(person)

{'name': 'Sezhiyan', 'age': 21, 'year': 2004}

In [28]:
person={
    "name":"Sezhiyan",
    "age":21,
    "year":2004,
    "skills":{"python","Excel","power BI","SQL"}
}
person.popitem()
print(person)

{'name': 'Sezhiyan', 'age': 21, 'year': 2004}

In [32]:
#delect
person={
    "name":"Sezhiyan",
    "age":21,
    "year":2004,
    "skills":{"python","Excel","power BI","SQL"}
}
del person["skills"]
print(person)

{'name': 'Sezhiyan', 'age': 21, 'year': 2004}

In [33]:
#loop in Dictionaries
person={
    "name":"Sezhiyan",
    "age":21,
    "year":2004,
    "skills":{"python","Excel","power BI","SQL"}
}

for p in person:
  print(p)

name
age
year
skills

In [37]:
person={
    "name":"Sezhiyan",
    "age":21,
    "year":2004,
    "skills":{"python","Excel","power BI","SQL"}
}

for p in person:
  print(person[p])

Sezhiyan
21
2004
{'power BI', 'Excel', 'python', 'SQL'}

In [38]:
person={
    "name":"Sezhiyan",
    "age":21,
    "year":2004,
    "skills":{"python","Excel","power BI","SQL"}
}

for p in person.keys():
  print(p)

name
age
year
skills

In [40]:
person={
    "name":"Sezhiyan",
    "age":21,
    "year":2004,
    "skills":{"python","Excel","power BI","SQL"}
}

for p in person.values():
  print(p)

Sezhiyan
21
2004
{'power BI', 'Excel', 'python', 'SQL'}

In [41]:
person={
    "name":"Sezhiyan",
    "age":21,
    "year":2004,
    "skills":{"python","Excel","power BI","SQL"}
}

for p in person.items():
  print(p)

('name', 'Sezhiyan')
('age', 21)
('year', 2004)
('skills', {'power BI', 'Excel', 'python', 'SQL'})