In [1]:
# Exceptional Error handling

10/0

ZeroDivisionError: division by zero

In [9]:
# ZeroDivisionError
try:
  a=5/0
  print(a)
except ZeroDivisionError:
  print("division by zero in not applicabe")

division by zero in not applicabe

In [15]:
# ValueError
try:
  num=int(input("Enter the number : "))
  print (10/num)
except ValueError:
  print("error: invalid value")

Enter the number : s
error: invalid value

In [21]:
try:
  num=int(input("Enter the number :"))
  print(10/num)
except ZeroDivisionError:
  print("error: division by zero is not applicable")
except ValueError:
  print("error: invalid value")

Enter the number :0
error: division by zero is not applicable

In [28]:
try:
  num1=int(input("enter the first number :"))
  num2=int(input("enter the second number :"))
  print(num1/num2)
except (ZeroDivisionError,ValueError):
  print("error: check the inputs and give a valid value")

enter the first number :5
enter the second number :0
error: check the inputs and give a valid value

In [40]:
#Raise
age=int(input("enter the age :"))
if age<18:
  raise ValueError("age can not be below 18")
else:
  print("Eligible")

enter the age :15

ValueError: age can not be below 18

In [57]:
# Type error
try:
  print(5+"s")
except TypeError:
  print("error : invalid value, enter number value")

error : invalid value, enter number value

In [62]:
# index
try:
  course=["python","power bi","excel","SQL"]
  print(course[6])
except IndexError:
  print("error : index not found")

error : index not found

In [61]:
# keyError
try:
  details={"name":"sezhiyan","age":"21","gender":"male"}
  print(details["native"])
except KeyError:
  print("Not found give valid details")

Not found give valid details

In [69]:
# NameError
try:
  print(name)
except NameError:
  print("error : inalid value")

error : inalid value