In [5]:
# Functions
def display():
  print("welcome to python")
display()

welcome to python

In [9]:
# without parameters and without return type
def add():
  a=15
  b=20
  c=a+b
  print(c)
add()

35

In [10]:
# with parameters and without return type
def add(a,b):
  sum=a+b
  avg=(sum/2)
  print(sum)
  print(avg)
add(38,28)

66
33.0

In [15]:
# without paramrters and with retun type

def add():
  a=45
  b=36
  return(a*b)
print(add())

1620

In [20]:
# with parameters and with return type
def add(a,b,c,d):
  total = a+b*c-d
  return total
print(add(20,12,10,50))

90

In [34]:
# * arguments
def school(*classes):
  print( classes )
  print(classes[0])
  print(classes[1])
  print(classes[2])
school("10a","10b","10c")

('10a', '10b', '10c')
10a
10b
10c

In [37]:
# keyword arguments
def students(s1,s2,s3,s4):
  print(s1,s2,s3,s4)
  print(s1)
  print(s2)
  print(s3)
  print(s4)
students(s1="raj",s2="sezhiyan",s3="balaji",s4="sabir")

raj sezhiyan balaji sabir
raj
sezhiyan
balaji
sabir

In [39]:
# **kwargs - Arbitrary Keyword Arguments
def classes(**subject):
  print(subject)
  print(subject["a"])
  print(subject["b"])
  print(subject["c"])
  print(subject["d"])
  print(subject["e"])
classes(a="Tamil",b="English",c="maths",d="Science",e="Social")

{'a': 'Tamil', 'b': 'English', 'c': 'maths', 'd': 'Science', 'e': 'Social'}
Tamil
English
maths
Science
Social

In [40]:
# Default parameter
def display(User="Guest"):
  print("Hello :" +User)
display("sezhiyan")
display("venkat")
display()
display("abdul")
display()

Hello :sezhiyan
Hello :venkat
Hello :Guest
Hello :abdul
Hello :Guest

In [44]:
# Recursion
def factorial(s):
  if s==1:
    return 1
  else:
    return s*factorial(s-1)
print(factorial(8))

40320

In [46]:
# Sum of Natural Numbers using Recursion
def sum(s):
  if s==0:
    return 0
  else:
    return s+sum(s-1)
print(sum(20))

210