In [24]:
# Lambda function

values=lambda a,b :a*b
print(values(10,5))

50

In [26]:
value1=int(input("Enter the value :"))
value2=int(input("Enter the value :"))
formula=lambda x,y : x+y
print(formula(value1,value2))

Enter the value :76
Enter the value :54
130

In [28]:
rectangle=lambda x : x*5
print(rectangle(10))

50

In [43]:
# Map()

numbers=[1,2,3,4,5,6,7,8,9,10]
answer=map(lambda N : N*5,numbers)
print(list(answer))

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [46]:
values=["python","sql","excel"]
answer=map(lambda v : v.upper(),values)
print(list(answer))

['PYTHON', 'SQL', 'EXCEL']

In [53]:
# upper case
values=['PYTHON', 'SQL', 'EXCEL']
answer=map(lambda v : v.lower(),values)
print(list(answer))

['python', 'sql', 'excel']

In [55]:
# map() with multiple iterables

list1=[1,2,3,4,5]
list2=[1,2,3,4,5]
answer=map(lambda L1,L2 : L1*L2, list1, list2)
print(list(answer))

[1, 4, 9, 16, 25]

In [59]:
# Celsius to Fahrenheit
celsius=[0,20,30,100]
fahrenheit=map(lambda c : (c*9/5) + 32 ,celsius)
print(list(fahrenheit))

[32.0, 68.0, 86.0, 212.0]

In [60]:
# length
values=["python","mysql","power BI","excel"]
answer=map(lambda v : len(v),values)
print(list(answer))

[6, 5, 8, 5]

In [69]:
values=["python","mysql","power BI","excel"]
answer=map(lambda v : v[0],values)
print(list(answer))

['p', 'm', 'p', 'e']

In [71]:
# Filter function
# even
number=[1,2,3,4,5,6,7,8,9,10]
answer=filter(lambda n : n%2==0,number)
print("Even numbers",list(answer))

Even numbers [2, 4, 6, 8, 10]

In [73]:
# odd
number=[1,2,3,4,5,6,7,8,9,10]
answer=filter(lambda n : n%2!=0,number)
print("Odd numbers",list(answer))

Odd numbers [1, 3, 5, 7, 9]

In [79]:
# startswith()
value=["python","sql","power BI","excel","python with ai"]
answer=filter(lambda v : v.startswith("p"),value)
print(list(answer))

['python', 'power BI', 'python with ai']

In [80]:
# filter positive number
number = [-5, 0, 10, -3, 8, -2, 15]
answer=filter(lambda n : n>0,number)
print(list(answer))

[10, 8, 15]

In [81]:
# passed students
students=[("sezhiyan",87),("kural",45),("praveen",43),("sridhar",90)]
passed_student=filter(lambda s : s[1]>45,students)
print("Passed students :",list(passed_student))

Passed students : [('sezhiyan', 87), ('sridhar', 90)]

In [86]:
# Reduce function
#sum all
from functools import reduce
number=[10,20,30,40,50]
sum=reduce(lambda a,b : a+b,number)
print(sum)

150

In [87]:
# multiply
from functools import reduce
number=[2,3,4,5]
sum=reduce(lambda a,b : a*b,number)
print(sum)

120

In [88]:
# Combine a List
words = ['Learning', 'Python', 'with', 'lambda', 'and', 'reduce']
combine=reduce(lambda a,b:a+" "+b,words)
print(combine)

Learning Python with lambda and reduce

In [89]:
# merge list
lists = [[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]]
merge=reduce(lambda a,b : a+b,lists)
print(merge)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [91]:
odd_or_even=lambda x : "Even" if x%2==0 else "Odd"
print(odd_or_even(10))

Even