In [ ]:
import sys
print(sys.version)

3.12.11 (main, Jun  4 2025, 08:56:18) [GCC 11.4.0]

In [ ]:
# variable - assigna value
Name = "Sezhiyan"
print("i am" ,Name)
print("i am "+Name)

i am Sezhiyan
i am Sezhiyan

In [ ]:
print("welcome to python")

welcome to python

In [ ]:
#camelCase
fullName= "Varshath Kumar"
print(fullName)

Varshath Kumar

In [ ]:
# snakecase
full_name = "Varshath Kumar"
print(full_name)

Varshath Kumar

In [ ]:
#PascalCase
FullName ="Varshath Kumar"
print(FullName)

Varshath Kumar

In [ ]:
# one value to multiple variables
a=b=c=d="python"
print(a)
print(b)
print(c)
print(d)

python
python
python
python

In [ ]:
# Many value to multiple variables
a,b,c="python","excel","Power BI"
print(a)
print(b)
print(c)

python
excel
Power BI

In [ ]:
# string str
Name="Sezhiyan"
print(Name)
print(type(Name))

Sezhiyan
<class 'str'>

In [ ]:
# Numeric Data type-int, float, complex
#int
Rollnumber = 101
print(Rollnumber)
print(type(Rollnumber))

101
<class 'int'>

In [ ]:
# flot
Cgpa = 60.5
print(Cgpa)
print(type(Cgpa))

60.5
<class 'float'>

In [ ]:
# Complex
check=1+2j+5
print(check)
print(type(check))

(6+2j)
<class 'complex'>

In [ ]:
# Sequence Data type-list,tuple, range
#list
course=["python","Power BI","Excel"]
print(course)
print(type(course))

['python', 'Power BI', 'Excel']
<class 'list'>

In [ ]:
# tuple
course=("python","Power BI","Excel")
print(course)
print(type(course))

('python', 'Power BI', 'Excel')
<class 'tuple'>

In [ ]:
#Range
Check= range(1,15)
print(Check)
print(type(Check))

range(1, 15)
<class 'range'>

In [ ]:
# Mapping data type-dist
#Dist
Details ={"Name":"Sezhiyan","age":21,"Email":"Sezhiyan@gmail.com"}
print(Details)
print(type(Details))

{'Name': 'Sezhiyan', 'age': 21, 'Email': 'Sezhiyan@gmail.com'}
<class 'dict'>

In [ ]:
#set Dat type - set
# set
course={"python","Power BI","Excel"}
print(course)
print(type(course))

{'Excel', 'python', 'Power BI'}
<class 'set'>

In [ ]:
#boolean data type
check=True
print(check)
print(type(check))

True
<class 'bool'>

In [ ]:
# Operators Ari.opr, Ass.opr, Rel.opr
# Arithmetic operator - +,-,*,/,%,**,//

a=10
b=5

print(a+b) # (+)
print(a-b) # (-)
print(a*b) # (*)
print(a%b) # (%)
print(a/b) # (/)
print(a//b) # (//)

15
5
50
0
2.0
2

In [ ]:
# Arithmetic operator - **

a=5
b=6
print(a**b) # (**)

15625

In [ ]:
# Assigment operator - +=,-=,*=,/=,%=,**=,//=

a=10
b=5

print("Before value")
print("A -" ,a)
print("B -" ,b)

# a+=b # (a=a+b)
# a-=b # (a=a-b)
# a*=b # (a=a*b)
# a%=b # (a=a%b)
# a/=b # (a=a/b)
a//=b # (a=a//b)
# a**=b # (a=a**b)

print("After value")
print("A -" ,a)
print("B -" ,b)

Before value
A - 10
B - 5
After value
A - 2
B - 5

In [ ]:
# Relation operator - >,>=,<,<=,==,!= bool true or false
a=30
b=10

print(a==b)
print(a!=b)
print(a<b)
print(a<=b)
print(a>b)
print(a>=b)

False
True
False
False
True
True

In [ ]:
# sum, avg

#sum
T=int(input("enter the mark"))
E=int(input("enter the mark"))
M=int(input("enter the mark"))
S=int(input("enter the mark"))
SS=int(input("enter the mark"))

sum=T+E+M+S+SS
print("sum -",sum)

#avg

avg=sum/5
print("avg -",avg)

enter the mark 99
enter the mark 95
enter the mark 90
enter the mark 98
enter the mark 99
sum - 481
avg - 96.2

In [ ]:
# age cal

cy= int(input("current year"))
DOB= int (input("DOB"))

age = cy-DOB
print("age",age)

current year2025
DOB2004
age 21

In [ ]:
# Celsius to Fahrenheit

c=int(input("enter celsius"))
f=(c*9/5)+32
print("fahrenheit" ,f)

enter celsius 5
fahrenheit 41.0

In [ ]:
# Fahrenheit to Celsius
f=int(input("enter fahrenheit"))
c=(f-32)*5/9
print("celsius -" ,c)

enter fahrenheit 45
celsius - 7.222222222222222

In [ ]:
# salary calculation

yearly_salary = 600000

monthly_salary=yearly_salary/12
weekly_salary=yearly_salary/52
perday_salary=weekly_salary/7
perhour_salary=perday_salary/8

print("yearly salary : ₹",yearly_salary)
print("monthly salary : ₹",round(monthly_salary, 2))
print("weekly salary : ₹",round(weekly_salary, 2))
print("perday salary : ₹",round(perday_salary, 2))
print("perhour salary : ₹",round(perhour_salary, 2))

yearly salary : ₹ 600000
monthly salary : ₹ 50000.0
weekly salary : ₹ 11538.46
perday salary : ₹ 1648.35
perhour salary : ₹ 206.04

In [ ]:
# miles to km

miles = 10
kilometers = (miles * 1.60934)

print( "kilometers :",kilometers)

kilometers : 16.0934

In [ ]:
# km to miles

kilometers = 25
miles = (kilometers * 0.621369647819236)

print("miles :",miles)

miles : 15.534241195480899

In [ ]:
# area of rectangle

length = float(input("Enter the length of the rectangle: "))
width = float(input("Enter the width of the rectangle: "))
area_rectangle = length * width
print("area of rectangle :",area_rectangle)

Enter the length of the rectangle:  10
Enter the width of the rectangle:  5
area of rectangle : 50.0

In [ ]:
# area of square

length = float(input("Enter the length of the square: "))
width = float(input("Enter the width of the square: "))
area_square = length * width
print("area of square :",area_square)

Enter the length of the square: 20
Enter the width of the square: 25
area of square : 500.0

In [ ]:
# Logical Operators - and, or, not
# and

a=10
b=5

check= a!=b and a>b and a>=b

print(check)

True

In [ ]:
# and

un="sezhiyan"
pw="Sezhiyan123"

userName=input("enter the name")
passWord=input("enter the pass")

check=(userName==un) and (passWord==pw)

print(check)

enter the namesezhian
enter the passSezhiyan123
False

In [ ]:
# or
a=10
b=5

check= a<b or a>b

print(check)

True

In [ ]:
# not

a=10
b=8

check = not(a<b)

print(check)

True

In [ ]:
# Membership  Operators - in, not in

# in

course=["python","full stack","DE"]
print("DI" in course)
print("DE" in course)

False
True

In [ ]:
# not in
print("DI" not in course)
print("DE" not in course)

True
False

In [ ]:
# Identity Operators - is, is not

# is
a=["Python", "DA"]
b=["Python", "DA"]

c= b
print(a is b)
print(b is c)

#is not

print(a is not b)
print(b is not c)

False
True
True
False

In [ ]:
# control STM - if , if else, nested if else, ladder if else
# if

mark=int(input("enter the value :"))

if mark>=35:
  print("Pass")

if mark<35:
  print("Fail")

enter the value :23
Fail

In [ ]:
# if else
age=int(input("Enter the age :"))

if age>=18:
  print("Major")

else:
  print("minor")

Enter the age :20
Major

In [ ]:
# if else
Hight=float(input("enter the hight :"))

if Hight<=4:
  print("Ride eligible")

else:
  print("Not eligible")

enter the hight :3.9
Ride eligible

In [ ]:
# ladder if else

temperature=float(input("enter the temp :"))

if temperature>30:
  print("hot weather")

elif temperature<0:
  print("cold weather")
else:
  print("couldy weather")

enter the temp :25
couldy weather

In [ ]:
a=int(input("Enter the A Value :"))
b=int(input("Enter the B Value :"))
c=int(input("Enter the C Value :"))

if(a>b and a>c):
  print("a is greater value")
elif(b>a and b>c):
  print("b is greater value")
elif(c>a and c>b):
  print("c in greater value")
else:
  print("all value  are equal")

Enter the A Value :10
Enter the B Value :10
Enter the C Value :10
all value  are equal

In [ ]:
# EB bill calculator

unit=float(input("enter the unit :"))

if unit<=100:
  bill=unit * 1.5
elif unit<=200:
  bill=(100 * 1.5) + (unit - 100)* 2.5
elif unit<=300:
  bill=(100 * 1.5) + (100 * 2.5) + (unit - 200) * 4
else:
  bill=(100 * 1.5) + (100 * 2.5) + (100 * 4) + (unit - 300) * 6
print(f"Your electricity bill is: ₹{bill:.2f}")

enter the unit :350
Your electricity bill is: ₹1100.00

In [ ]:
# nested if else

a=int(input("Enter the A Value :"))
b=int(input("Enter the B Value :"))
c=int(input("Enter the C Value :"))

if(a>b):
  if(a>c):
    print("a is the greater value")
  else:
    print("c is the greater value")
else:
  if(b>c):
    print("b is the greater value")
  else:
    print("c is the greater value")

Enter the A Value :10
Enter the B Value :10
Enter the C Value :30
c is the greater value

In [ ]:
# grade

mark= int(input("enter the mark :"))

if mark >=40:
  print("Result: Pass")

  if mark>=90:
    print("grade: a+")
  elif mark>=80:
    print("grade: a")
  elif mark>=70:
    print("grade: b")
  elif mark>=60:
    print("grade: c")
  elif mark>=50:
    print("grade: d")
  else:
    print("grade: e")
else:
  print("Result: Fail")

enter the mark :90
Result: Pass
grade: a+

In [ ]:
# 08/10/2025
# Match Statement - match case
day=int(input("enter the day :"))

match day:
  case 1: print("Monday")
  case 2: print("Tuesday")
  case 3: print("Wednesday")
  case 4: print("Thursday")
  case 5: print("Friday")
  case 6: print("Saturday")
  case 7: print("Sunday")
  case _: print("Invalid value(enter the correct value)")

enter the day :6
Saturday

In [ ]:
Month=int(input("enter the Month :"))

match Month:
  case 1: print("January")
  case 2: print("February")
  case 3: print("March")
  case 4: print("April")
  case 5: print("May")
  case 6: print("June")
  case 7: print("July")
  case 8: print("August")
  case 9: print("September")
  case 10: print("October")
  case 11: print("November")
  case 12: print("December")
  case _: print("Invalid value(enter the correct value)")

enter the Month :8
August

In [ ]:
num1=int(input("Enter the value :"))
num2=int(input("Enter the value :"))
answer=input("enter the +,-,*,/,%")

match answer:
  case "+": print(num1 + num2)
  case "-": print(num1 - num2)
  case "*": print(num1 * num2)
  case "/": print(num1 / num2)
  case "%": print(num1 % num2)
  case _: print("Enter the correct value")

Enter the value :12
Enter the value :10
enter the +,-,*,/,%*
120

In [ ]:
# Looping statement - While loop, for loop
# While loop

i=1
while(i<=5):
  print(i)
  i+=1

1
2
3
4
5

In [ ]:
i=1
while(i<=5):
  print("python program")
  i+=1

python program
python program
python program
python program
python program

In [ ]:
i=1
while(i<=10):
  print(i ,"* 5 =",i*5)
  i+=1

1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

In [ ]:
# for loop

for i in "python":
  print(i)

p
y
t
h
o
n

In [ ]:
for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
for i in range(1,11):
  print(i,"* 3 =",i*3)

1 * 3 = 3
2 * 3 = 6
3 * 3 = 9
4 * 3 = 12
5 * 3 = 15
6 * 3 = 18
7 * 3 = 21
8 * 3 = 24
9 * 3 = 27
10 * 3 = 30

In [ ]:
# if else in for loop

for i in range(11):
  if (i%2==0):
    print(i,"- Even number")
  else:
    print(i,"- Odd number")

0 - Even number
1 - Odd number
2 - Even number
3 - Odd number
4 - Even number
5 - Odd number
6 - Even number
7 - Odd number
8 - Even number
9 - Odd number
10 - Even number

In [ ]:
# Pattern

for i in range(1,6):
  for j in range(1,6):
    print("*",end=" ")
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    print(i,end=" ")
  print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    print(j,end=" ")
  print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [ ]:
for i in range(ord("A"),ord("F")):
  for j in range(ord("A"),ord("F")):
    print(chr(i),end=" ")
  print()

A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [ ]:
for i in range(ord("A"),ord("F")):
  for j in range(ord("A"),ord("F")):
    print(chr(j),end=" ")
  print()

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [46]:
# 9/10/2025
# Pattern
for i in range(5,0, -1):
  for j in range(5,0, -1):
    print(i ,end=" ")
  print()

5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1

In [47]:
for i in range(5,0, -1):
  for j in range(5,0, -1):
    print(j ,end=" ")
  print()

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [51]:
s=1
for i in range(5,0, -1):
  for j in range(5,0, -1):
    print(s ,end=" ")
    s+=1
  print()

1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25

In [58]:
s=1
print("Numbers")
for i in range(5,0, -1):
  for j in range(5,0, -1):
    print(s ,end=" ")
    s+=1
  print()

Even numbers
1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25

In [60]:
s=0
print("Even Numbers")
for i in range(5,0, -1):
  for j in range(5,0, -1):
    print(s ,end=" ")
    s+=2
  print()

Even Numbers
0 2 4 6 8
10 12 14 16 18
20 22 24 26 28
30 32 34 36 38
40 42 44 46 48

In [64]:
s=1
print("Odd Numbers")
for i in range(5,0, -1):
  for j in range(5,0, -1):
    print(s ,end=" ")
    s+=2
  print()

Odd Numbers
1 3 5 7 9
11 13 15 17 19
21 23 25 27 29
31 33 35 37 39
41 43 45 47 49

In [65]:
for i in range(65,70):
  for j in range(1,6):
    print(chr(i), end=" ")
  print()

A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [69]:
for i in range(65,70):
  for j in range(65,70):
    print(chr(j), end=" ")
  print()

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [71]:
for i in range(69,64,-1):
  for j in range(69,64,-1):
    print(chr(i), end=" ")
  print()

E E E E E
D D D D D
C C C C C
B B B B B
A A A A A

In [72]:
for i in range(69,64,-1):
  for j in range(69,64,-1):
    print(chr(j), end=" ")
  print()

E D C B A
E D C B A
E D C B A
E D C B A
E D C B A

In [158]:
k=65
for i in range(1,6):
  for j in range(1,6):
    print(chr(k), end=" ")
    k+=1
  print()

A B C D E
F G H I J
K L M N O
P Q R S T
U V W X Y

In [122]:
for i in range(1,6):
  for j in range(1, i+1):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

In [121]:
for i in range(5,0, -1):
  for j in range(1, i+1):
    print("*",end=" ")
  print()

* * * * *
* * * *
* * *
* *
*

In [182]:
for i in range(1,6):
  for j in range(1, i+1):
    print(i,end=" ")
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [131]:
for i in range(5,0, -1):
  for j in range(1, i+1):
    print(i,end=" ")
  print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [212]:
for i in range(1,6):
  for j in range(5,5-i,-1):
    print(j,end=" ")
  print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [139]:
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [127]:
for i in range(5,0,-1):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [148]:
for i in range(65,70):
  for j in range(65,i+1):
    print(chr(i),end=" ")
  print()

A
B B
C C C
D D D D
E E E E E

In [189]:
for i in range(65,70):
  for j in range(65,i+1):
    print(chr(j),end=" ")
  print()

A
A B
A B C
A B C D
A B C D E

In [180]:
for i in range(69,64, -1):
  for j in range(65,i+1):
    print(chr(i),end=" ")
  print()

E E E E E
D D D D
C C C
B B
A

In [152]:
for i in range(69,64, -1):
  for j in range(65,i+1):
    print(chr(j),end=" ")
  print()

A B C D E
A B C D
A B C
A B
A

In [217]:
for i in range(65,70):
  for j in range(69,69-(i-64),-1):
    print(chr(j),end=" ")
  print()

E
E D
E D C
E D C B
E D C B A